<form method="post" action="{{ path('app_my_subscription_resume', {id: subscription.id}) }}" onsubmit="return confirm('Are you sure you want to resume this subscription?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('resume' ~ subscription.id) }}">
    <button class="btn btn-sm btn-success"> Resume </button>
</form>
