{% extends 'base.html.twig' %}

{% block title %} Shop {% endblock %}

{% block body %}
    <h1> Shop </h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 border-start">
            <h2> Products !</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for product in products %}
                    {% if product.purpose == 'product' %}
                        <div class="col">
                            {{ include('shop/_product_card.html.twig') }}
                        </div>                    
                    {% endif %}
                {% endfor %}
            </div>        
        </div>
        <div class="col-lg-6 border-start">
            <h2> Subscriptions !</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for product in products %}
                    {% if product.purpose == 'subscription' %}
                        <div class="col">
                            {{ include('shop/_product_card.html.twig') }}
                        </div>                    
                    {% endif %}
                {% endfor %}
            </div>        
        </div>
    </div>
{% endblock %}
