<form method="post" action="{{ path('app_test_clock_delete', {'id': testClock.id}) }}" onsubmit="return confirm('Are you sure you want to delete this test clock, all related customers and their subscriptions will also be deleted?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testClock.id) }}">
    <button class="btn btn-sm btn-danger"> Delete </button>
</form>
